.login {
    margin-top: 150;
    margin-left: 60;
    width: auto;
    height: 600px;
    background-image: url("../Images/login.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.signup {
    margin-top: 50;
    margin-left: 40;
    width: auto;
    height: 600px;
    background-image: url("../Images/signup.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bluepin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

input.loginInput {
    background: transparent;
    border: none;
    line-height: 1.8em;
    width: 49.3%;
}

div.loginInput {
    margin-top: 230px;
    margin-left: 9.5%;
    margin-right: 9.5%;
    width: auto;
}

button.loginButton {
    display: block;
    margin: auto;
    padding: 1px 2%;
}

div.loginButton {
    margin-top: 45%;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.signupButton {
    padding: 54px 4.5%;
    background: transparent;
    position: relative;    
}

.buttons {
   font-size: 0px;
   margin-top: 400px;
   float: left;
   width: 100%;
}

#gap1 {
    margin-left: 10%;
}

#gap2 {
    margin-left: 20%;
}
