/* Style Types */
h1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    padding-top: 45px;
    position: relative;
}

h2 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    padding-top: 30px;
}

h3 {
    float: left;
    left: 0;
    font-family: 'Caveat', cursive;
    margin-top: 0px;
}

p {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 1px #000000;
    border-radius: 2%;
    height: 25%;
}

input[type=text], input[type=password] {
    width: 40%;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-size: 15px;
}

/* Navigation Bar */
.nav-area li {
	display: inline-block;
}

.nav-area li a {
	color: #000000;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Caveat", cursive;
	font-size: 16px;
	text-transform: uppercase;
}

.nav-area li a:hover {
	background: #d3d3d3;
	color: #000000;
}

.nav-area li {
    float: right;
}

.nav-area lg{
    float: left;
}
/* Holders */
section{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 15px;
}

footer {
    background: #181818;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    padding-bottom: 1px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 15px;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.wrapper {
    width: 1170px;
    margin: auto;
}

/* Fonts */
.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.caveat-apples {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}